@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&family=Rubik:ital,wght@0,300..900;1,300..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

// Primary Colors
$lime: hsl(61, 70%, 52%);
$red: hsl(4, 69%, 50%);

// Neutral Colors
$white: hsl(0, 0%, 100%);
$slate-100: hsl(202, 86%, 94%);
$slate-300: hsl(203, 41%, 72%);
$slate-500: hsl(200, 26%, 54%);
$slate-700: hsl(200, 24%, 40%);
$slate-900: hsl(202, 55%, 16%);

  
*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-family: 'Red Hat Text', 'sans-serif';
  color: $slate-900;
  background-color: $slate-100;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}